/* site structure */
* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../images/fundo.png) repeat-x;
}

body div {
    width: 800px;
    margin: 0 auto;
    padding: 0 20px;

}

#header {
    height: 150px;
    margin: 0;
    padding-top: 25px;
    background: url(../images/detalhe-topo.png) no-repeat right top;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../images/logo.png);
    text-indent: -3000px; /* alternative text for images file loading fail */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header ul{
    margin-top: 30px;
    background-color: #b10333;
    float: left;
}

#header ul li{
    float: left;
}

#header ul li a{
    font-size: 0.9em;
    display: block;
    padding: 1em 1.5em;
    text-decoration: none;
    color: #ffffff;
    background: url(../images/divisor.png) no-repeat left;
    background-position: -1px;
}

#header ul .first a {
    background: none;
}

#header ul li a:hover{
    color: #69001d;
}

body.home #nav a#home,
body.brasil #nav a#Brasil,
body.internacional #nav a#internacional,
body.economia #nav a#economia,
body.saúde #nav a#saúde,
body.ciência #nav a#ciência,
body.fotos #nav a#fotos
{
    color: #fff;
    background-color: #de003e;
    cursor: text;
}

.box {
    margin: 10px 0;
    padding: 5px 0;
    background: #f3f3f3 url(../images/fundo-caixa.png);
}

h2 {
    font-size: 1.1em;
    background-color: #294c71;
    color: #fff;
    padding: 5px;
}

.content {
    clear: both;
    padding: 5px;
    margin: 5px 0;
    background-color: #fff;
}

/* Single layout */

#main {
    margin-top: 60px;
    padding: 0;
    background: #f5f5f5;
}

#single_layout #main div {
    width: 800px;
    padding: 0;
    margin-bottom: 20px;
}

/* sidebar */

#double_layout #main #sidebar, 
#triple_layout #main #sidebar {
    float: left;
    margin-bottom: 20px;
    width: 180px;
}

#sidebar ul li a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    font-size: large;
    text-decoration: none;
    color: black;
    border-bottom: #f3f3f3;
}

#sidebar ul li a:hover{
    padding-left: 20px;
    color: #a1a1a1;
    background: #f9f9f9 url(../images/marcador.png) no-repeat left center;
}

label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #69001d;
    cursor: pointer;
}

input.submit:hover {
    background-color: #de003e;
    border: 2px solid #b10333;
}

/* main content */

#double_layout #main div,
#triple_layout #main div{
    float: right;
    width: 580px;
    padding: 0;
}

/* triple layout */

#triple_layout #main div #primary {
    float:left;
    width: 270px;
}

#triple_layout #main div #secundary {
    margin-left: 15px;
    float: right;
    width: 270px;
}

/* footer */

footer {
    background: #294c71;
    padding: 20px;
    color: #fff;
    margin: 0 auto;
    clear: both;
    color: white;
}
