/* site structure */
* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../images/fundo.png) repeat-x;
}

body div {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid red;
}

#header {
    height: 150px;
    margin: 0 auto;
    padding-top: 25px;
    background: url(../images/detalhe-topo.png) no-repeat right top;
    border: 1px solid red;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../images/logo.png);
    text-indent: -3000px; /* alternative text for images file loading fail */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header ul{
    margin-top: 30px;
    background-color: #b10333;
    float: left;
}

#header ul li{
    float: left;
}

#header ul li a{
    font-size: 0.9em;
    display: block;
    padding: 1em 1.5em;
    text-decoration: none;
    color: #ffffff;
    background: url(../images/divisor.png) no-repeat left;
}

#header ul .first a {
    background: none;
}

#header ul li a:hover{
    color: #69001d;
}

body.home #nav a#home,
body.brasil #nav a#Brasil,
body.internacional #nav a#internacional,
body.economia #nav a#economia,
body.saúde #nav a#saúde,
body.ciência #nav a#ciência,
body.fotos #nav a#fotos
{
    color: #fff;
    background-color: #de003e;
    cursor: text;
}

#main {
    margin: 0 auto;
    margin-top: 60px;
    padding: 0;
    width: 750px;
    border: solid red 1px;
    background: #f5f5f5;
}

#main #primary {
    margin: 0;
    display: inline-block;
    width: 270px;
    background-color: peru;
}

#main #secundary {
    margin: 0;
    display: inline-block;
    width: 270px;
    background-color: blue;
}

#main #sidebar {
    margin: 0;
    display: inline-block;
    width: 180px;
    background-color: purple;
}

footer {
    background: #294c71;
    padding: 20px;
    color: #fff;
    margin: 0 auto;
    clear: both;
    color: white;
}
